@using Microsoft.AspNetCore.Identity
@using AssetManager.Web.Models
@using AssetManager.Core.Entities
@using AssetManager.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Asset Manager | Starter</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <environment include="Development">
        <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="~/css/design.css" />

        <!-- DataTables -->
        <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    </environment>
    <environment exclude="Development">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <!-- User Account Menu -->
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs"> @UserManager.GetUserName(User)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <p>
                                        @UserManager.GetUserName(User)
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @{
                                            <form asp-controller="Account" method="post">
                                                <a href="@Url.Action("Logout","Account")" class="btn btn-default btn-flat">Sign out</a>
                                            </form>
                                        }
                                    </div>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">


                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <!--<li class="header">MAIN NAVIGATION</li>-->
                    <li class="active">
                        <a class="active">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>


                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-barcode"></i>
                            <span>Asset</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>

                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Hardware")">List All</a></li>
                            <li><a><i class="fa fa-circle-o text-blue"></i> All Deployed Assets</a></li>
                            <li><a><i class="fa fa-circle-o text-green"></i> All Ready to Deploy</a></li>
                            <li><a><i class="fa fa-circle-o text-orange"></i> All Pending</a></li>
                            <li><a><i class="fa fa-times text-red"></i> All Un-deployable</a></li>
                            <li><a><i class="fa fa-times text-red"></i> All Archived</a></li>
                            <li><a><i class="fa fa-check text-blue"></i>Requestable</a></li>
                            <li><a>Bulk Checkout</a></li>
                            <li><a>Requested</a></li>
                            <li><a>Deleted</a></li>
                            <li><a>Import History</a></li>
                            <li><a>Bulk Audit</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Licenses")">
                            <i class="fa fa-floppy-o"></i>
                            <span>Licenses</span>

                        </a>

                    </li>
                    <li>
                        <a href="@Url.Action("Index","Accessories")">
                            <i class="fa fa-keyboard-o"></i> <span>Accessories</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Consumables")">
                            <i class="fa fa-tint"></i>
                            <span>Consumables</span>

                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Components")">
                            <i class="fa fa-hdd-o"></i>
                            <span>Components</span>

                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-users"></i> <span>People</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Register","Account")"><i class="fa fa-user fa-fw"></i> Add New</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cloud-download"></i> <span>Import</span>

                        </a>
                    </li>
                    <!--Seetings Start-->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gears"></i> <span>Settings</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Fields")">Custom Fields</a></li>
                            <li><a href="@Url.Action("Index","StatusLabels")">Status Label</a></li>
                            <li><a href="@Url.Action("Index","Models")">Asset Models</a></li>
                            <li><a href="@Url.Action("Index","Categories")">Categories</a></li>
                            <li><a href="@Url.Action("Index","Manufacturers")">Manufacturers</a></li>
                            <li><a href="@Url.Action("Index","Supplier")">Suppliers</a></li>
                            <li><a href="@Url.Action("Index","Departments")">Departments</a></li>
                            <li><a href="@Url.Action("Index","Locations")">Locations</a></li>
                            <li><a href="@Url.Action("Index","Depreciation")">Depreciation</a></li>

                        </ul>
                    </li>
                    <!--Seetings End-->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-chart"></i> <span>Report</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>

                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-laptop"></i> <span>Requestable</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header)
            <section class="content-header">

                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section> -->
            <!-- Main content -->
            <section class="content container-fluid">
                <!--------------------------
                  | Your Page Content Here |
                  -------------------------->
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Asset Manager
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2018 <a href="https://github.com/OpenCodeFoundation">OpenCode Foundation</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->

    <environment include="Development">
        <!-- jQuery 3 -->
        <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/dist/js/adminlte.min.js"></script>
        <!-- Optionally, you can add Slimscroll and FastClick plugins.
            Both of these plugins are recommended to enhance the
            user experience. -->
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>

