@model AssetManager.Web.ViewModels.StatusLabelViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="header-content">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-8">
            <p class="header-content-title">Delete Status Label</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4">
            <a asp-action="Index" class="pull-right btn btn-primary btn-create-new">Back</a>
        </div>
    </div>
</div>


<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowInNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInNav)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
