@model IEnumerable<AssetManager.Core.Entities.Accessory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-12">

        <div class="box box-default">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplierId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Qty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Requestable)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LocatonId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PurchaseDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PurchaseCost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MinAmt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ManufacturerId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModelNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplierId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Qty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Requestable)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LocatonId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PurchaseCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MinAmt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ManufacturerId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModelNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Image)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>